#account_form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 15vw;
}

#account_form button {
    width: 50%;
    align-self: center;
}

#account_form label {
    padding-top: 3px;
}

#account_form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

#account_form > p {
    text-align: center;
}
