.wiki_view_adminpanel {
    display: flex;
    flex-direction: column;
}

.wiki_view_adminpanel > h4 {
    text-align: center;
    font-size: 1.25em;
}

.wiki_view_adminpanel > form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.wiki_view_adminpanel > form label {
    padding-top: 3px;
}

.wiki_view_adminpanel > form button {
    width: 50%;
    align-self: center;
}

.wiki_view_adminpanel > form > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.wiki_view_adminpanel > form input, .wiki_view_adminpanel > form select {
    width: 75%
}

.delete_button {
    color: var(--red) !important;
    font-weight: bold;
}
