<form id="account_form" method="POST" action="/signin">
    <div>
        <label for="username">Nazwa użytkownika</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Hasło</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Zaloguj</button>
    <p>Nie masz jeszcze konta? <a href="/signup">Zarejestruj się</a></p>
</form>
